<!DOCTYPE html>

<head>
    <title>Indian Financial Market Analysis - API 1</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="">
</head>

<body>
    <h1>Indian Financial Market Analysis</h1>
    This is application to provide the ability to the end user to plot various scripts listed on Indian exchanges and do
    analysis on those scripts.
    <br>
    
    <b>API 1 - </b> 
    <a href="http://127.0.0.1:5000/graph-1">Given a script name and a time window, fetch and display it’s
        open and close in a graph.</a>
    
    <br>
    <b>API 2 - </b> 
    <a href="http://127.0.0.1:5000/graph-2">Given a time window, fetch and display the scripts which have only grown/fallen in previous x days.</a>
    
</body>

</html>